<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/s2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <br>
    <h1><center>Translated Text...</center></h1>
    <br>
    <div id="trans_div">
        <textarea id="output" class="output" cols="30" rows="10" placeholder="Output text" name="text">{{translated_text}}</textarea>
        <br><br><br>
        <center>
            <a id="again_btn" href="/txt_to_txt.html">
                <button id="again_btn">Again</button>
            </a>
        </center>
    </div>
</body>
</html>